<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VisitBZU"
        tools:targetApi="31">
        <activity
            android:name=".features.parkingAndTransportationServices.BusActivity"
            android:exported="false" />
        <activity
            android:name=".features.parkingAndTransportationServices.TaxiActivity"
            android:exported="false" />
        <activity
            android:name=".features.parkingAndTransportationServices.CarParkingActivity"
            android:exported="false" />
        <activity
            android:name=".features.parkingAndTransportationServices.ParkingActivity"
            android:exported="false" />
        <activity
            android:name=".features.librariesandmuseums.HistoryBirzeitUniversityMuseum"
            android:exported="false" />
        <activity
            android:name=".features.librariesandmuseums.AboutBirzeitUniversityMuseum"
            android:exported="false" />
        <activity
            android:name=".features.librariesandmuseums.LibrariesAndMuseumsViewAll"
            android:exported="false" />
        <activity
            android:name=".features.librariesandmuseums.SaraIssaMuseums"
            android:exported="false" />
        <activity
            android:name=".features.librariesandmuseums.BirzeitUniversityMuseum"
            android:exported="false" />
        <activity
            android:name=".features.librariesandmuseums.TheInstituteOfLawLibrary"
            android:exported="false" />
        <activity
            android:name=".features.librariesandmuseums.SaidKhouryLibraryForDevelopmentStudies"
            android:exported="false" />
        <activity
            android:name=".features.librariesandmuseums.YusufAhmadAlGhanimLibrary"
            android:exported="false" />
        <activity
            android:name=".features.prayers.SaraIssaPrayersViewAll"
            android:exported="false" />
        <activity
            android:name=".features.librariesandmuseums.SaraIssaLibrariesViewAll"
            android:exported="false" />
        <activity
            android:name=".features.faculties.SaraIssaFacultiesViewAll"
            android:exported="false" />
        <activity
            android:name=".features.faculties.SaraIssaFaculties"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDwjxiCNkN4ClPEufaF0zZPzHFG7gXdgWo" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="AIzaSyAekxTHTclJsHVgiEGK2aTW3aWypdmMPTU" /> -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".features.faq.sararom_FAQs" />
        <activity android:name=".features.map.sararom_Map" />
        <activity
            android:name=".features.librariesandmuseums.SaraIssaLibraries"
            android:exported="false" />
        <activity
            android:name=".features.faculties.facultyOfInformationTechnology.SaraIssaCyberSecurity"
            android:exported="false" />
        <activity
            android:name=".features.faculties.facultyOfInformationTechnology.SaraIssaComputerEngineeringMaster"
            android:exported="false" />
        <activity
            android:name=".features.faculties.facultyOfInformationTechnology.SaraIssaElectricalEngineering"
            android:exported="false" />
        <activity
            android:name=".features.faculties.facultyOfInformationTechnology.SaraIssaComputerScience"
            android:exported="false" />
        <activity
            android:name=".features.faculties.facultyOfInformationTechnology.SaraIssaComputerEngineering"
            android:exported="false" />
        <activity
            android:name=".features.prayers.SaraIssaPrayer"
            android:exported="false" />
        <activity
            android:name=".features.faculties.facultyOfInformationTechnology.SaraIssaFacultyOfInformationTechnology"
            android:exported="false" />
        <activity
            android:name=".features.virtualTour.VirtualTour"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".WelcomeScreen"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>